@import url("./components.css");

:root {
    --primary: #f81ce5;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection,
::selection {
    color: #fff;
    background-color: var(--primary);
}

.scroll-lock {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#main {
    margin-top: 80px;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header > div {
    height: 80px;
}

.burger {
    font-size: 8px;
    outline: none;
    z-index: 100;
    padding: 1rem;
}

.burger__inner {
    display: block;
    width: 4.3em;
    height: 2.8em;
}

.burger__inner span {
    margin: 0.562em 0;
}

/* Styling burger lines */
.burger__inner::after,
.burger__inner::before,
.burger__inner span {
    content: "";
    display: block;
    height: 0.562em;
    background-color: #000;

    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: right;
}

.burger-transform .burger__inner::after,
.burger-transform .burger__inner::before,
.burger-transform .burger__inner span {
    background-color: #000;
}

.burger__inner::before {
    transform: scaleX(0.85);
}

.burger__inner::after {
    transform: scaleX(0.7);
}

.burger:not(.no-hover):hover .burger__inner > span {
    transform-origin: center;
    transform: scaleX(0.7);
}

.burger:not(.no-hover):hover .burger__inner::before {
    transform: scaleX(1);
}

.burger:not(.no-hover):hover .burger__inner::after {
    transform: scaleX(1);
}

.burger__inner > span:hover {
    transform: scaleX(0.5);
}

/* Nav-mobile */

.nav-mobile {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: #fff;
    z-index: 999;

    top: 80px;
    left: 0;

    overflow: hidden;
}

/* When nav-is-open is toggle */
.nav-is-open .burger__inner > span {
    transform: scaleX(0);
}

.nav-is-open .burger__inner::before {
    transform-origin: center;
    transform: scaleX(1) translateY(1.124em) rotate(-45deg);
}

.nav-is-open .burger__inner::after {
    transform-origin: center;
    transform: scaleX(1) translateY(-1.124em) rotate(45deg);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: var(--primary);

    transform-origin: left;
    transition: all 0.125s ease;
    transform: scaleX(0);
}

.nav-link:hover.nav-link::after {
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--primary);
}

.bg-hero-pattern {
    height: calc(100vh - 80px);
}

/* Components */
