@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    .heading-1 {
        font-size: 3rem;
        letter-spacing: -0.02em;
        line-height: 1.5;
        font-weight: 700;
    }

    .heading-2 {
        font-size: 2.25rem;
        letter-spacing: -0.02em;
        line-height: 1.5;
        font-weight: 600;
    }

    .heading-3 {
        font-size: 1.5rem;
        letter-spacing: -0.02em;
        line-height: 1.5;
        font-weight: 600;
    }

    .heading-4 {
        font-size: 1.25rem;
        letter-spacing: -0.02em;
        line-height: 1.5;
        font-weight: 600;
    }

    .heading-5 {
        font-size: 1rem;
        letter-spacing: -0.01em;
        font-weight: 600;
    }

    .heading-6 {
        font-size: 0.875rem;
        letter-spacing: -0.01em;
        font-weight: 600;
    }

    .heading-6 {
        font-size: 0.875rem;
        letter-spacing: -0.005em;
        font-weight: 600;
    }

    .paragraph-base {
        font-size: 1em;
        line-height: 1.625em;
        font-weight: 400;
    }

    .paragraph-base b {
        font-weight: 600;
    }

    .paragraph-sm {
        font-size: 0.875em;
        line-height: 1.5;
        font-weight: 400;
    }

    .btn {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #000;
        border: 1px solid #000;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: min-content;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.85);
        border-color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }

    .btn-success {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #0070f3;
        border: 1px solid #0070f3;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: min-content;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn-sucess:hover {
        color: rgb(255, 255, 255);
        background-color: #3291ff;
        border-color: #3291ff;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }

    .btn-error {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #e00;
        border: 1px solid #e00;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: min-content;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn-error:hover {
        color: rgb(255, 255, 255);
        background-color: #ff1a1a;
        border-color: #ff1a1a;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }

    .btn-warning {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #f5a623;
        border: 1px solid #f5a623;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: min-content;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn-warning:hover {
        color: rgb(255, 255, 255);
        background-color: #f7b955;
        border-color: #f7b955;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }

    .btn-outline-full-white {
        appearance: none;
        position: relative;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        z-index: 0;
        text-align: center;
        text-decoration: none;
        line-height: 38px;
        white-space: nowrap;
        font-weight: 500;
        min-width: 100%;
        height: 40px;
        padding: 0px 25px;
        border-radius: 5px;
        font-size: 0.875rem;
        flex-shrink: 0;
        margin: 0px;
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        transition: all 0.2s ease 0s;
        user-select: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        box-sizing: border-box;
    }

    .btn-outline-full-white:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    /* Btn full width */

    .btn-full {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #000;
        border: 1px solid #000;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: 100%;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn-full:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.85);
        border-color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }

    .btn-full-success {
        box-sizing: border-box;
        display: inline-block;
        line-height: calc(40px);
        border-radius: 5px;
        font-weight: 400;
        font-size: calc(14px);
        user-select: none;
        outline: none;
        text-transform: capitalize;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        transition: background-color 200ms ease 0ms, box-shadow 200ms ease 0ms,
            border 200ms ease 0ms, color 200ms ease 0ms;
        position: relative;
        overflow: hidden;
        color: rgb(255, 255, 255);
        background-color: #0070f3;
        border: 1px solid #0070f3;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        min-width: 100%;
        width: auto;
        height: calc(40px);
        padding: 0px calc(18.4px);
        margin: 0px;
    }

    .btn-full-sucess:hover {
        color: rgb(255, 255, 255);
        background-color: #3291ff;
        border-color: #3291ff;
        cursor: pointer;
        pointer-events: auto;
        box-shadow: none;
        transform: translate3d(0px, 0px, 0px);
    }
}
